---
permalink: /alaska_acoustic_highlights/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Redirecting to Alaska Acoustic Highlights</title>
  <meta http-equiv="refresh" content="0; url=https://mertensia.github.io/alaska_acoustic_highlights/">
  <link rel="canonical" href="https://mertensia.github.io/alaska_acoustic_highlights/">
  <script>
    location.replace(
      "https://mertensia.github.io/alaska_acoustic_highlights/" +
      location.search + location.hash
    );
  </script>
</head>
<body>
  <p>Moved to
    <a href="https://mertensia.github.io/alaska_acoustic_highlights/">
      Alaska Acoustic Highlights
    </a>.
  </p>
</body>
</html>
