---
permalink: 404.html 
---
<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
    <head>
        <title>Nothing here</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">

        <script>
        (function () {
          var rules = [
            {
              prefix: "/alaska_acoustic_highlights",
              target: "https://mertensia.github.io/alaska_acoustic_highlights"
            },
            {
              prefix: "/snotel_leaderboard",
              target: "https://mertensia.github.io/snotel_leaderboard"
            }
          ];
          var path = location.pathname.replace(/\/$/, "");
          for (var i = 0; i < rules.length; i++) {
            var rule = rules[i];
            if (path === rule.prefix || path.indexOf(rule.prefix + "/") === 0) {
              var rest = path.slice(rule.prefix.length);
              location.replace(rule.target + rest + location.search + location.hash);
              return;
            }
          }
        })();
        </script>
        
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <div class="content centered">

            {%-if not meta.themeStyle%}
                <div class="font-bg"> &#x1F60E; </div>
            {%endif%}
            <h1>There is nothing here</h1>
            <p>If you got here from a link, this note is probably not made public</p>
            <a href="/">Go back home</a>
        </div>
    </body>
</html>
